.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__cveYr {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-1lqr2MAvupURf5);
  display: flex;
  min-width: 0;
}
.freeBox__cveYr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__cveYr > :global(.__wab_flex-container) > *,
.freeBox__cveYr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cveYr > :global(.__wab_flex-container) > picture > img,
.freeBox__cveYr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__mXFqx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__mXFqx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__mXFqx > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mXFqx > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mXFqx > :global(.__wab_flex-container) > *,
.columns__mXFqx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mXFqx > :global(.__wab_flex-container) > picture > img,
.columns__mXFqx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXFqx {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXFqx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXFqx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXFqx > :global(.__wab_flex-container) > *,
  .columns__mXFqx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mXFqx > :global(.__wab_flex-container) > picture > img,
  .columns__mXFqx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__vsEdT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vsEdT {
    width: 100%;
  }
}
.freeBox___5OAdv {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___5OAdv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___5OAdv > :global(.__wab_flex-container) > *,
.freeBox___5OAdv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5OAdv > :global(.__wab_flex-container) > picture > img,
.freeBox___5OAdv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5OAdv {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5OAdv > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iqDmI {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__euNf5 {
  position: relative;
  text-align: left;
}
.bullet__v7Vih:global(.__wab_instance) {
  position: relative;
}
.bullet___39DIc:global(.__wab_instance) {
  position: relative;
}
.bullet__xdOpv:global(.__wab_instance) {
  position: relative;
}
.text__v4FBb {
  position: relative;
  text-align: left;
}
.freeBox__ynpUw {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__ynpUw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ynpUw > :global(.__wab_flex-container) > *,
.freeBox__ynpUw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynpUw > :global(.__wab_flex-container) > picture > img,
.freeBox__ynpUw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynpUw {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynpUw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynpUw > :global(.__wab_flex-container) > *,
  .freeBox__ynpUw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ynpUw > :global(.__wab_flex-container) > picture > img,
  .freeBox__ynpUw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__vrlZ:global(.__wab_instance) {
  position: relative;
}
.svg__maxEi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__v6Rh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__v15C:global(.__wab_instance) {
  position: relative;
}
.svg__wFf7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__avGBe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__h6CF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__h6CF {
    width: 100%;
  }
}
.img__bkRzo {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bkRzo > picture > img {
  object-fit: cover;
}
.img__bkRzo > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__brFu7 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__brFu7 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__brFu7 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__brFu7 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__brFu7 > :global(.__wab_flex-container) > *,
.columns__brFu7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__brFu7 > :global(.__wab_flex-container) > picture > img,
.columns__brFu7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__brFu7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__brFu7 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__brFu7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__brFu7 > :global(.__wab_flex-container) > *,
  .columns__brFu7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__brFu7 > :global(.__wab_flex-container) > picture > img,
  .columns__brFu7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__bpPsJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bpPsJ {
    width: 100%;
  }
}
.img__cpmWk {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__cpmWk > picture > img {
  object-fit: cover;
}
.img__cpmWk > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__r9ToP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__r9ToP {
    width: 100%;
  }
}
.freeBox__r40G7 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__r40G7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__r40G7 > :global(.__wab_flex-container) > *,
.freeBox__r40G7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r40G7 > :global(.__wab_flex-container) > picture > img,
.freeBox__r40G7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r40G7 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r40G7 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___5ZNSq {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__uwWiX {
  position: relative;
  text-align: left;
}
.bullet___8YbUb:global(.__wab_instance) {
  position: relative;
}
.bullet___93MdV:global(.__wab_instance) {
  position: relative;
}
.bullet__qjwz:global(.__wab_instance) {
  position: relative;
}
.text__doThi {
  position: relative;
  text-align: left;
}
.freeBox__fc79R {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__fc79R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__fc79R > :global(.__wab_flex-container) > *,
.freeBox__fc79R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fc79R > :global(.__wab_flex-container) > picture > img,
.freeBox__fc79R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fc79R {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fc79R > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fc79R > :global(.__wab_flex-container) > *,
  .freeBox__fc79R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fc79R > :global(.__wab_flex-container) > picture > img,
  .freeBox__fc79R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__xXsFk:global(.__wab_instance) {
  position: relative;
}
.svg__lISio {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__n7Fj2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__bCbyg:global(.__wab_instance) {
  position: relative;
}
.svg__tIxjN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ytp9G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
