.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___1YaFh {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-L-0sJaEM8dGcAL);
}
.freeBox__pnYfl {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-1lqr2MAvupURf5);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__pnYfl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__pnYfl > :global(.__wab_flex-container) > *,
.freeBox__pnYfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnYfl > :global(.__wab_flex-container) > picture > img,
.freeBox__pnYfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnYfl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnYfl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnYfl > :global(.__wab_flex-container) > *,
  .freeBox__pnYfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pnYfl > :global(.__wab_flex-container) > picture > img,
  .freeBox__pnYfl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__zNpL1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__zNpL1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zNpL1 > :global(.__wab_flex-container) > *,
.freeBox__zNpL1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zNpL1 > :global(.__wab_flex-container) > picture > img,
.freeBox__zNpL1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__g3N7V:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a16Wj {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__w6WQi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__mSsPq {
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__mSsPq:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__tqoWg {
  position: relative;
  font-size: 14px;
  color: var(--token-QrJzmkOkcxI9t4);
}
.link__pOmZ {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__pOmZ:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__mIdDt {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__mIdDt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mIdDt > :global(.__wab_flex-container) > *,
.freeBox__mIdDt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mIdDt > :global(.__wab_flex-container) > picture > img,
.freeBox__mIdDt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mIdDt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mIdDt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mIdDt > :global(.__wab_flex-container) > *,
  .freeBox__mIdDt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mIdDt > :global(.__wab_flex-container) > picture > img,
  .freeBox__mIdDt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__uwhaJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__uwhaJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uwhaJ > :global(.__wab_flex-container) > *,
.freeBox__uwhaJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uwhaJ > :global(.__wab_flex-container) > picture > img,
.freeBox__uwhaJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__c3KT7 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wjN9M {
  font-size: 14px;
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
}
.root .link__wjN9M:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ohGab {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__ohGab:hover {
  color: var(--token-NEon4Y--Z);
}
.link___0TiF {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link___0TiF:hover {
  color: var(--token-NEon4Y--Z);
}
.link__piSo {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__piSo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__lHalh {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__lHalh:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__rgOeZ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__rgOeZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rgOeZ > :global(.__wab_flex-container) > *,
.freeBox__rgOeZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rgOeZ > :global(.__wab_flex-container) > picture > img,
.freeBox__rgOeZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ikEiu {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__evAeS {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__evAeS:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yQaek {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__yQaek:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zX8Nt {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__zX8Nt:hover {
  color: var(--token-NEon4Y--Z);
}
.link__iysS {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__iysS:hover {
  color: var(--token-NEon4Y--Z);
}
.link__csUOb {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__csUOb:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__hZnA2 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__hZnA2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hZnA2 > :global(.__wab_flex-container) > *,
.freeBox__hZnA2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hZnA2 > :global(.__wab_flex-container) > picture > img,
.freeBox__hZnA2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__x3479 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__bo1Zc {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__bo1Zc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__x4Ox6 {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__x4Ox6:hover {
  color: var(--token-NEon4Y--Z);
}
.link__uPxrV {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__uPxrV:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vBr8 {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__vBr8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__s1NkA {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__s1NkA:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___6JzI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox___6JzI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6JzI > :global(.__wab_flex-container) > *,
.freeBox___6JzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6JzI > :global(.__wab_flex-container) > picture > img,
.freeBox___6JzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__dLGX {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__psjk6 {
  position: relative;
  font-size: 14px;
  color: var(--token-QrJzmkOkcxI9t4);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__eDjsu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__x5Ocx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__bWuPy {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__wDnzh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lcmHk {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-L-0sJaEM8dGcAL);
}
.freeBox__j3HNg {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-1lqr2MAvupURf5);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__j3HNg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3HNg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3HNg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3HNg > :global(.__wab_flex-container) > *,
  .freeBox__j3HNg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j3HNg > :global(.__wab_flex-container) > picture > img,
  .freeBox__j3HNg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__fBiEc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___62ZpH {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  height: auto;
  font-size: 14px;
}
.root .link___62ZpH:hover {
  text-decoration-line: underline;
}
.link__nFseK {
  position: relative;
  color: var(--token-QrJzmkOkcxI9t4);
  font-size: 14px;
}
.root .link__nFseK:hover {
  text-decoration-line: underline;
}
.text__pcHkJ {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-QrJzmkOkcxI9t4);
}
.freeBox__hV6DS {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hV6DS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hV6DS > :global(.__wab_flex-container) > *,
.freeBox__hV6DS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hV6DS > :global(.__wab_flex-container) > picture > img,
.freeBox__hV6DS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__xFbk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vkt89 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__vkt89:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__gCmp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__crHV {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__crHV:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__cUgd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__x3EV {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__x3EV:hover {
  color: var(--token-dph1wZ7NjV9);
}
